{
  "root": true,
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "ignorePatterns": [
    "server/dist",
    "server/logs",
    "server/node_modules",
    "server/src/prisma",
    "client/dist"
  ],
  "rules": {
    // Common rules
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "no-console": "warn"
  },
  "overrides": [
    {
      "files": ["server/**/*.{js,mjs,cjs,ts}"],
      "env": {
        "node": true
      },
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "project": ["./server/tsconfig.json"],
        "ecmaVersion": 2018,
        "sourceType": "module"
      },
      "rules": {
        "@typescript-eslint/explicit-member-accessibility": "off",
        "@typescript-eslint/no-unsafe-member-access": "off",
        "@typescript-eslint/no-floating-promises": "off",
        "@typescript-eslint/no-unsafe-call": "off",
        "@typescript-eslint/no-unsafe-assignment": "off",
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/no-redundant-type-constituents": "off",
        "@typescript-eslint/no-parameter-properties": "off",
        "@typescript-eslint/no-unsafe-argument": "off",
        "@typescript-eslint/interface-name-prefix": "off",
        "@typescript-eslint/no-wrapper-object-types": "off",
        "@typescript-eslint/ban-types": "off",
        "@typescript-eslint/no-misused-promises": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "no-unused-expressions": "warn",
        "no-process-exit": "error",
        "eqeqeq": "error",
        "curly": "error"
      }
    },
    {
      "files": ["client/**/*.{jsx,js,mjs,cjs,tsx,ts}"],
      "env": {
        "browser": true
      },
      "rules": {}
    }
  ]
}
